<HTML>
<BODY OnLoad="OnLoadEvent();">
<form name="form1" action="http://localhost:8080/pgui/jsp/invoiceResponse.jsp" method="post">
    <input type="hidden"
           name="ENCDATA"
           value="aJhtYaJ52/h43mZrlZ9NFXF+pz5xLN2EzHeMA3rmb4KUeOQ44LY9DWFFuUmPSURuSq/8eXHLdq4NgeZRIqmGlH04NF0kT04twWc/BMkjaAKHNR39bVGilkxK3GKldcd6z4NpbwsiQija4LJ7O/J4rS0WlettLTGjnF9a4WQWiT2WMRta9oYyhR59X3OJHAnkNEWfRvP/+GzER0590xEgrB++jYrUVwjswy9EMmoSUFlx1ZiAqhcnN/RDHx6+StLS6r3P/oy9CBNU4S7ELuHWweTl4Tda2mIBW5RUsn4/ioX4g3DP/KOf+MzviUqNPzaO7cnfBLK2gbwxBgrVkUvDnVYCy33iGDVBn+Bvwyn1nx7AmJqW3zFHqo/1zeRpF4+dtEqp9+IZWwEJZEWvNca5/f19VWsx4Fl53u/JE6mFl0pae4DollSWSVr2BjYODp9iWs1WVUSMwEpq7pXzbNApu9Y06XFoXc5b9GS9KqT7F3K4+x/zPLCngGrcQSWsCrWPUxQ2JIUqelmwYiiz9WgTzpxgB8byexThjcbe9RmtaIkaCBelwbt+xuiQQ2JsPWCb1tLRNci10f7CM+Pc3EGON5BEx+/CNdq13gv4WolmVZpjd+1xKVt/LXj27R7fowsP1uBvMkeGzjiTUfNbWAnWZIFVRTrFGZMBbc471iWNpxR3wELG8eW/uJRK9mGMc8OOTuiIqUVRzd204yvHt1iGmaj/nckiTnDqtIb8VSCavSZ5256pNta//Q+QnjKBgFFG0tVtXvcEv3nCkQtRsPsEVQ">
    <input type="hidden" name="PAY_ID" value="1000140627123003">
</form>
<script language="JavaScript">function OnLoadEvent(){document.form1.submit();}</script>
</BODY>
</HTML>